@using InfoScreenPi.Entities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InfoScreenPi</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
     <script src="/ckeditor/ckeditor.js"></script>
     <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
     <!-- include the core styles -->
    <link rel="stylesheet" href="~/lib/alertify.js/themes/alertify.core.css" />
    <!-- include a theme, can be included into the core instead of 2 separate files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/alertify.js/themes/alertify.bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap3-dialog/src/css/bootstrap-dialog.css" />
    <link rel="stylesheet" href="~/css/nu-context-menu.css" />
    <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="~lib/file-upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="~lib/file-upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="~/css/loading.css" />
    
    <noscript><link rel="stylesheet" href="~lib/file-upload/css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="~lib/file-upload/css/jquery.fileupload-ui-noscript.css"></noscript>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
</head>
<body style="padding-top: 50px; padding-bottom: 20px;">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><img src="~/images/logo/@ViewBag.Logo" class="navbar-brand" id="progLogo" height="50px">
                <a asp-controller="Config" asp-action="Index" class="navbar-brand" id="progTitle"> <b>@ViewBag.TitleProg</b></a>
            </div>
            <div class="navbar-collapse collapse">
                @*
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                </ul>
                *@
                <form class="navbar-form form-inline"> @* Form gebruiken om het te aligneren met de navbar *@
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-default" id="RefreshScreen" style="margin-top:6px; margin-left: 2px" data-toggle="tooltip" data-placement="bottom" title="Herlaad alle geconnecteerde schermen">
                            <i class="glyphicon glyphicon-refresh"> </i>&nbsp;&nbsp;Refresh Scherm
                        </button>
                        @{
                            Role r = ViewBag.CurrentRole;
                            if(r.Name.Equals("Admin")){
                                <button type="button" class="btn btn-default" id="Settings" style="margin-top:6px;" data-toggle="tooltip" data-placement="bottom" title="Instellingen schermen en InfoScreenPi">
                                    <i class="glyphicon glyphicon-wrench"> </i>&nbsp;&nbsp;Instellingen
                                </button>
                            }
                        }
                        <a href="~/" target="new" role="button" class="btn btn-default" style="margin-top:6px;" data-toggle="tooltip" data-placement="bottom" title="Toon het scherm op je pc">
                            <i class="glyphicon glyphicon-search"> </i>&nbsp;&nbsp;Preview
                        </a>
                    </div>
                    @await Component.InvokeAsync("AccountMenu")
                </form>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <center>
            <img src="~/images/ScreenPiLogo.svg" height="100px" align="center" />
        </center>
        <hr />
        <footer>
            <p style="text-align: center;">&copy; 2019 - Thomas Vandenabeele</p>
        </footer>
    </div>

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>


<script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="~/lib/alertify.js/lib/alertify.min.js"></script>
    <script src="~/lib/bootstrap3-dialog/src/js/bootstrap-dialog.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.nu-context-menu.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/ws-config.js"></script>
    

@RenderSection("scripts", required: false)
</body>
</html>
