# ignore all vscode files
*.vscode
obj
bin
.idea

### DotnetCore ###
# .NET Core build folders
/server/bin
/server/obj

#/server/wwwroot/images/**
#/server/wwwroot/videos/**
/server/wwwroot/**
/server/crons/**
/server/db/**
